<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio</title>
</head>
<body>
  
  <legend>template</legend>
  <div id="passagem-aerea" data-v-app="">
    <div>
      <p style="color: lightblue">Faça a viagem dos seus sonhos</p>
      </div>
      <fieldset>
        <legend>Dados</legend>
        <p>País de origem:</p>
        <select id="select-paisOrigin"></select>
        <p>Cidade de origem:</p>
        <select id="select-paisOrigin"></select>
        <p>País de destino:</p>
        <select id="select-paisOrigin"></select>
        <p>Cidade de destino:</p>
        <select id="select-paisOrigin"></select>
        <!-- <p>{{age >= 18 ? 'Maior de idade' : 'Menor de idade'}}</p> -->
        <p>Adultos:</p>
        <button>-</button>
        <span>0</span>
        <button>+</button>
        <p>Crianças:</p>
        <button>-</button>
        <span>0</span>
        <button>+</button>
        <br><br>
        <input id="economica" type="radio">
        <span>Econômica:</span>
        <input id="executiva" type="radio">
        <span>Executiva:</span>
        <p>Utilizar 0 milhas</p>
        <input id="economica" type="range"></fieldset>
        <br>
        <fieldset>
          <legend>Resumo da viagem</legend>
          <p>Origem: </p>
          <p>Destino: </p>
          <p>Distância: </p>
          <p>0 adulto(s), 0 criança(s)</p>
          <p>Tipo de vôo: Classe </p>
        </fieldset>
  
          
      <label for="input-address">Endereço:</label>
      <input id="input-address" type="text" v-model="address">
    
      <legend>v-if</legend>
      <label for="input-grade">Nota: </label>
      <input id="input-grade" type="text" v-model="grade">
      <p v-if="grade < 60">Reprovado</p>
      <p v-else-if="grade >= 60 && grade < 98">Aprovado</p>
      <p v-else-if="grade >= 98">Aprovado com excelência</p>
      <p v-else>Valor inválido</p>
    

      <legend>v-show</legend>
      <button v-show="!isUserLogged" @click="isUserLogged = true">Login</button>
      <button v-show="isUserLogged" @click="isUserLogged = false">Logout</button>
    

      <legend>v-text</legend>
      <p v-text="firstName"></p>
      <p>{{firstName}}</p>
    

      <legend>v-html</legend>
      <div v-html="htmlContent"></div>
    

      <legend>v-once</legend>
      <p v-once>{{count}}</p>
      <p>{{count}}</p>
      <button @click="count++">Adicionar</button>
    

      <legend>v-for</legend>
      <h4>Marcas</h4>
      <ul>
        <li v-for="brand in carBrands">{{brand}}</li>
      </ul>
      <h4>Carros</h4>
      <ul>
        <li v-for="car in cars">{{car.name}} ({{car.brand}})</li>
      </ul>
      <h4>Marcas</h4>
      <ul>
        <li v-for="brand in carBrands">{{brand}}</li>
      </ul> --></div>
  
    
  <script src="https://unpkg.com/vue@3.0.4"></script>
  <script>
  const app = {
      data() {
        return {
          htmlContent: "<p style='color: lightblue;'>Faça a viagem dos seus sonhos</p>",
          firstName: "John",
          lastName: "Snow",
          adult: 0,
          teen: 0,
          milhas: 0,
          economic: false,
          executive: false,
          grade: 0,
          isUserLogged: false,
          count: 1,
          carBrands: ["VW", "Fiat", "Renault", "ford"],
          cars: [{ name: "Ka", brand: "Ford"}, { name: "Palio", brand: "Fiat"}, { name: "Sandero", brand: "Renault"}],
          car: []
        }
      },
      methods: {
        incrementAdult() {
          this.adult++;
        },
        decrementAdult() {
          this.adult--;
        },
        incrementTeen() {
          this.teen++;
        },
        decrementTeen() {
          this.teen--;
        },
        getFullName() {
          return `${this.firstName} ${this.lastName}`;
        }
      },
    }

    const vm = Vue.createApp(app).mount("#passagem-aerea")
    </script>
</body>
</html>